<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">{{titre}}</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data">
      <mat-card>
        <form [formGroup]="workerForm" autocomplete="off" (ngSubmit)="formAction()">
          <mat-grid-list cols="2" rowHeight="100px">

            <mat-grid-tile>
              <mat-form-field appearance="outline">
                <mat-label>Tên</mat-label>
                <input matInput placeholder="Nhập vào tên và chữ lót " formControlName="name" />
                <mat-error *ngIf="workerForm.get('name')?.hasError('required')">
                  Nhập tên người bán
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field appearance="outline">
                <mat-label>Họ</mat-label>
                <input matInput placeholder="Nhập vào họ" formControlName="surname" />
                <mat-error *ngIf="workerForm.get('surname')?.hasError('required')">
                  Nhập họ người bán
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field appearance="outline">
                <mat-label>Số điện thoại</mat-label>
                <input matInput placeholder="Nhập vào số điện thoại" formControlName="phone" type="string"/>
                <mat-error *ngIf="workerForm.get('phone')?.hasError('required')">
                  Nhập số điện thoại người bán
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Địa chỉ email" formControlName="email" />
                <mat-error *ngIf="workerForm.get('email')?.hasError('required')">
                  Nhập email
                </mat-error>
                <mat-error *ngIf="workerForm.get('email')?.hasError('email')">
                  Email không hợp lệ
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field appearance="outline">
                <mat-label>Mật khẩu</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" placeholder="Nhập  mật khẩu" formControlName="password" />
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="workerForm.get('password')?.hasError('required')">
                  Nhập mật khẩu
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile class="action">
              <button mat-button color="primary" type="submit">XONG</button>
              <button mat-stroked-button color="warn" type="reset">LOẠI BỎ</button>
            </mat-grid-tile>

          </mat-grid-list>
        </form>

      </mat-card>
    </div>
  </div>
</div>
